.screen{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.l-black{
    background-color: var(--background__dark);
}

.l-white{
    background-color: var(--background__white);
}

.l-white-text{
    color: var(--text-color__white);
}

.l-black-text{
    color: var(--text-color__dark);
}

.l-hero{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.l-hero--main{
    background-image: url('../images/showcase.jpg');
    background-size: cover;
    background-position: center;
}

.l-hero--final{
    background-image: url('../images/section-bg.jpg');
    background-size: cover;
    background-position: 50% 100%;
    padding: 15rem;
}

.l-hero__content{
    margin-top: 10rem;
}

.l-hero p{
    width: 80%;
    text-align: center;
}

.l-hero--grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2px;
}

.l-hero--grid__left{

    display: flex;
    flex-direction: column;
   align-items: flex-end;
}

.footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--background__dark);
    padding: 2rem 10rem 5rem;
}

