/* button */
.btn{
    padding: 2rem;
    text-transform: capitalize;
    font-size: 1.5rem;
    border: none;
    color: var(--text-color__white);
    margin: 2rem 0;
}

.btn--danger{
    background-color: rgb(172, 16, 16);   
}

.btn--primary{
    background-color: rgb(87, 39, 184);
}

/* list */

.list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 2rem;   
}

.list__border{
    background-color: var(--text-color__gray);
    height: 0.1rem;
    width: 80%;
    margin-bottom: 2rem;
}

.list__header{
    font-weight: 500;
    color: var(--text-color__white);
    text-transform: capitalize;
    margin-bottom: 0;
    line-height: 3px;
}

.list__details{
    display: flex;
    flex-direction: column;
}

.list__details li{
    margin-bottom: 0.2rem;
}

.list__details a{
    color: var(--text-color__light-gray);
    font-size: 1.5rem;
    text-transform: capitalize;
    line-height: 2rem;
}

/* Gift cards */
.gift_card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
}

.gift_card h2{
    text-transform: capitalize;
    font-weight: 600;
    font-size: 2.5rem;
}

.gift_card p{
    line-height: 1.5;
    color: var(--text-color__dark-gray);    
}

.gift_card__border{
    background-color: rgb(171, 161, 161);
    height: 0.1rem;
    width: 100%;
    margin-bottom: 2rem;
}

.gift_card__link{
    text-decoration: none;
    color: var(--text-color__dark-gray);
    font-size: 1.8rem;
}

.gift_card__link i{
    font-size: 1.5rem;
    color: var(--text-color__dark);
}

.nav-bar{
    background-color: var(--background__dark);
    width: 100%;
    position: fixed;
}

.nav-bar__container{
    display: flex;
    justify-content: space-around;
    width: 35%;
    padding: 1.5rem 2rem;
}

.nav-bar__item a{
    color: var(--text-color__light-gray);
    font-size: 1.7rem;
    text-transform: capitalize;
}



