:root{
    --background__dark: #1f2121;
    --background__white: #F1F4F3;
    --text-color__white: #fff;
    --text-color__gray: rgba(226, 217, 217, 0.3);
    --text-color__light-gray: rgb(197, 192, 192);
    --text-color__dark: #111;
}