<div class="gift_card">
    <h2>gift cards</h2>
    <p class="small-text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque
      expedita tempore quasi omnis a aut et totam illo fuga accusamus
      dolorum vero, ut harum consectetur. Minima molestias officiis culpa
      non sed dicta itaque. Et aliquam illo obcaecati molestias veritatis
      porro.
    </p>
    <p class="small-text">
      Already have an Orange MyTunes Music Gift Card?
    </p>
    <div class="gift_card__border"></div>
    <a href="#" class="gift_card__link">Redeem</a>
</div>