<section class="footer">
    <article class="list">
        <div class="list__header">
            <p>about orange</p>
        </div>
        <div class="list__border"></div>
        <div class="list__details">
            <ul>
                <li><a href="">newsroom</a></li>
                <li><a href="">orange leadership</a></li>
                <li><a href="">investors</a></li>
                <li><a href="">events</a></li>
                <li><a href="">contact orange</a></li>
            </ul>
        </div>
    </article>
</section>